* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-black: #121111;
  --main-grey: #dddddd;
  --main-salomon: #f99a7a;
  --main-apricot: #fac9b8;
  --main-pink: #f1d4cc;
  --main-dark-grey: #7a7381;
  --main-snow: #fbfbfb;
}

body {
  font-family: "Playfair Display", serif;
  color: var(--main-black);
}

/* Utylity Classes */
.text-primary {
  color: var(--main-salomon);
}

/* Navbar */
#navbar {
  display: grid;
  grid-template-columns: 4fr 5fr 4fr;
  align-items: center;
  position: sticky;
  padding: 1.5rem 1.5rem;
  justify-content: space-between;
  background-color: var(--main-snow);
  box-shadow: 0px 2px 14px 0px #b7b7b7;
}

#navbar ul {
  display: flex;
  align-items: flex-end;
  list-style: none;
}

#navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  padding: 1.5rem;
  color: var(--main-black);
}

#navbar ul li a:hover {
  background: var(--main-apricot);
  border-radius: 5%;
}

#navbar .social {
  justify-self: center;
}

#navbar .social i {
  color: var(--main-salomon);
  margin-right: 2rem;
}

.nav-logo {
  display: flex;
  font-family: "Playfair Display", serif;
  font-size: 40px;
}

.nav-logo img {
  height: 70px;
  width: 70px;
}

/* Showcase */
.showcase-container {
  display: flex;
  flex-direction: row;
}

.left-container {
  border-right: 4px solid var(--main-snow);
  background: url("../img/img-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 40%;
}

.right-container {
  border-left: 4px solid var(--main-snow);
  background: url("../img/img-8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 60%;
}

.card-showcase {
  display: flex;
  flex-direction: column;
  background-color: var(--main-snow);
  position: relative;
  margin: auto;
  padding: 1rem 1rem;
  /* border: 1px solid grey; */
  text-align: center;
}

.left-container > .card-showcase {
  top: 70%;
  width: 70%;
}

.right-container > .card-showcase {
  top: 70%;
  width: 70%;
}

.card-showcase p {
  font-size: small;
  font-style: italic;
}

.card-showcase a {
  text-decoration: none;
  font-style: italic;
  color: var(--main-black);
  background-color: var(--main-apricot);
  padding: 0.5rem 0.5rem;
  margin-top: 20px;
}

.card-hover {
  transition: ease-in-out 0.2s;
}

.card-hover:hover {
  background-color: #fff;
  box-shadow: 0px 0px 0px 2px #fff;
}
